@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
	font-family: "Karla", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fix font size for each section */
body {
	font-size: 62.5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: hsl(204, 43%, 93%);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	max-width: 650px;
	width: 80%;
}

.top {
	background-color: white;
	border-radius: 0.7em 0.7em 0 0;
}
.padding {
	padding: 4em;
}

h2 {
	margin-bottom: 1em;
	font-size: 1.4rem;
	color: hsl(179, 62%, 43%);
}
.hassle {
	font-size: 1rem;
	color: hsl(71, 73%, 54%);
}

.top p {
	margin-top: 0.6em;
	font-size: 1rem;
	color: hsl(218, 22%, 67%);
}

.bottom {
	display: flex;
	width: 100%;
}

.month {
	background-color: hsl(179, 62%, 43%);
	width: 50%;
	border-bottom-left-radius: 0.7em;
}

.why_us {
	background-color: hsl(179, 63%, 51%);
	width: 50%;
	border-bottom-right-radius: 0.7rem;
}

.month .why_us {
	color: white;
}
