@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
	font-family: "Karla", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Fix font size for each section */
body {
	font-size: 62.5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: hsl(204, 43%, 93%);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	max-width: 650px;
	width: 80%;
}

.top {
	background-color: white;
	border-radius: 0.7em 0.7em 0 0;
}
.padding {
	padding: 4em;
}

h2 {
	margin-bottom: 1em;
	font-size: 1.4rem;
	color: hsl(179, 62%, 43%);
}
.hassle {
	font-size: 1rem;
	color: hsl(71, 73%, 54%);
}

.top p {
	margin-top: 0.6em;
	font-size: 1rem;
	color: hsl(218, 22%, 67%);
}

.bottom {
	display: flex;
	width: 100%;
	color: white;
}

.month {
	background-color: hsl(179, 62%, 43%);
	width: 50%;
	border-bottom-left-radius: 0.7em;
}

.month h3 {
	font-size: 1.1rem;
	margin-bottom: 1em;
}

.month_amount {
	color: rgba(255, 255, 255, 0.473);
	font-size: 1rem;
	margin-bottom: 0.7em;
}
span {
	color: white;
	font-size: 1.9rem;
	font-weight: 700;
	margin-right: 0.5em;
}

.full {
	font-size: 0.9rem;
	font-weight: 400;
	margin-bottom: 2em;
}

.sign_up {
	text-decoration: none;
	background-color: hsl(71, 73%, 54%);
	padding: 0.9em 0;
	color: white;
	display: flex;
	justify-content: center;
	border-radius: 0.3em;
	font-size: 1rem;
	font-weight: 700;
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.253);
}

.why_us {
	background-color: hsl(179, 46%, 51%);
	width: 50%;
	border-bottom-right-radius: 0.7em;
}

.why_us h3 {
	font-size: 1.1rem;
	margin-bottom: 1em;
}
ul {
	list-style-type: none;
}
li {
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.699);
	line-height: 1.4em;
}

/* Start Media Queries */

@media screen and (max-width: 575px) {
	section {
		max-width: 300px;
		width: 90%;
	}

	.padding {
		padding: 2.5em;
	}

	.bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.why_us,
	.month {
		width: 100%;
	}

	.month {
		border-radius: 0;
	}

	.why_us {
		border-radius: 0 0 0.7em 0.7em;
	}
}
